.header
    display: flex
    align-items: center
    width: 100%
    padding-inline: calc(var(--padding-default) * 2)
    padding-block: var(--padding-default)
    background-color: var(--header-background-color)


.headerInner
    display: flex
    flex-direction: column
    max-width: var(--page-max-width)
    width: 100%
    height: auto
    margin: auto
    gap: var(--space-default)

    @media (width > 768px)
        flex-direction: row


.searchInput
    width: 100%
    max-width: 912px
    height: var(--header-input-height)
    padding-inline: var(--padding-default)
    background-color: var(--search-input-background-color)
    border: none
    border-radius: var(--border-radius)
    outline: none
    font-weight: 500

    &::placeholder
        color: var(--placeholder-color)

.searchButton
    height: var(--header-input-height)
    border-radius: var(--border-radius)
