$header-background-color: #00838f
$search-input-background-color: #f2f2f2
$border-radius: 4px
$primary-color: #000000DE
$placeholder-color: #828282


.header
  display: flex
  align-items: center
  width: 100%
  padding-inline: 32px
  padding-block: 19px
  background-color: $header-background-color

.searchContainer
  display: inline-flex
  width: 100%
  height: 42px
  gap: 8px

  .searchInput
    width: 100%
    max-width: 912px
    height: 100%
    padding-inline: 16px
    background-color: $search-input-background-color
    color: $primary-color
    border: none
    border-radius: $border-radius

    &::placeholder
      color: $placeholder-color

  .searchButton
    height: 100%
    border-radius: $border-radius
