$primary-background-color: #ffffff
$second-text-color: #4f4f4f
$min-height: 912px
  
.main
  position: relative
  width: 100%
  height: $min-height
  background-color: $primary-background-color

  .introContainer
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    display: flex
    justify-content: center
    align-items: center

    .introText
      // font-family: 'Roboto'
      font-size: 46px
      color: $second-text-color
